@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 5pt;
  background: #0d1d41bb;
  border-radius: 50pt;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: #d86d6d;
  border-radius: 50pt;
}

/* login form create class*/
.create {
  @apply grid grid-cols-1 border rounded-xl gap-2 mx-auto ring-offset-4;
  /* box-shadow: 0 0 40px -15px #251c9bb0; */
}

.create section {
  @apply gap-3 flex items-center mx-auto;
}

.create>section {
  @apply mb-4 w-full flex justify-between flex-col items-start md:flex-row;
}

.create label {
  @apply text-sm;
}

.create>section>input {
  @apply border-0 outline-none p-2.5 rounded-md bg-slate-900/40 text-yellow-50;
}

.create>section>input:focus {
  @apply border-0 outline-none;
}

.zoomView {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.adminInputBox {
  @apply font-semibold px-1 py-2 ring-2 ring-offset-0 ring-darkText my-1 outline-none border-none focus:ring-blue-700 focus:rounded-md transition-all h-fit;
}

form.gallery-form {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 5pt;
}

form.gallery-form section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10pt;
  font-size: 1.25rem;
  border: 2px solid #9d29f050;
  padding: 0pt 5pt;
  height: max-content;
  margin-bottom: 5pt;
  border-radius: 5pt;
  background-color: #fff;
  overflow-x: hidden;
}

form.gallery-form section label {
  font-size: 1rem;
}

form.gallery-form section input {
  font-size: 1rem;
  padding: 4pt;
  flex: 1 1 auto;
  outline: none;
  border: none;
  background-color: transparent;
}

/* animate rotation */
.anime-rot {
  animation: rot-360 15s linear infinite;
  transform-origin: center;
}

.anime-rot-fast {
  animation: rot-360-fast 1s linear infinite;
  transform-origin: center;
}

@keyframes rot-360-fast {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

@keyframes rot-360 {
  0% {
    transform: rotate(0deg);
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.5);
  }

  100% {
    transform: rotate(360deg);
    filter: brightness(1);
  }
}

.clientDash .active {
  @apply bg-secondary-main;
}