.video-container {
  position: fixed;
  padding: 5px;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  overflow: hidden;
  z-index: 100;
  background-color: #000;
  
}

.customHeader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 5pt;
  display: none;
  align-items: center;
  justify-content: center;
  background: #3f3f3f;
  color: white;
  font-weight: bold;
  pointer-events: all;
  backdrop-filter: blur(12px);
}

iframe {
  width: 100%;
  height: auto;
  max-width: 1920px;
  max-height: 900px;
  display: block;
  aspect-ratio: 16/9;
  border-radius: 25px;

}

.custom-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: #061452cc;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  transition: opacity 300ms ease-out;
  transition-delay: 300ms;
  font-size: medium;
}

.video-container button {
  background: #0872fd;
  border: none;
  border-radius: 5pt;
  padding: 2pt 5pt;
  width: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #232323;
  cursor: pointer;
  transition: color 100ms ease-in;
  font-weight: 600;
}

.video-container button:hover {
  color: #fff;
}

.video-container input[type="range"] {
  flex: 1;
  height: fit-content;
  background-color: #0394ee;
  accent-color: #0394ee;
  position: relative;
  margin: 0;
}

.centerController {
  position: absolute;
  width: fit-content;
  height: fit-content;
  scale: 2.5;
  border-radius: 500pt;
  background: #0872fd;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  transition: opacity 300ms ease-in;
}

.centerController.hide {
  transition-delay: 300ms;
  opacity: 0;
  pointer-events: none;
}

.video-container ul {
  position: absolute;
  bottom: 110%;
  right: 0;
  display: grid;
  gap: 2pt;
  transform: translateX(-15%);
  list-style: none;
}

.video-container li.speed {
  width: 100%;
  text-align: center;
  font-size: small;
  margin-bottom: 2pt;

  background: white;
  border-radius: 5px;
  transition: all 100ms ease;
  color: #232323;
}

.video-container li.speed:hover {
  background: #0872fd;
  color: aliceblue;
  cursor: pointer;
}